NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Sólo servidor (no exponer en cliente)
SUPABASE_SERVICE_ROLE_KEY=

# Nivel de logs (info|warn|error|debug)
NEXT_PUBLIC_LOG_LEVEL=info

# Amadeus (opcional)
AMADEUS_CLIENT_ID=
AMADEUS_CLIENT_SECRET=